* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

a:hover,
a:focus {
  background-color: rgb(230, 28, 233);
}

.link-back {
  color: blueviolet;
}

/* Index html */
.task {
  display: inline-block;
  padding: 6px 10px;
}
/* Task-1 */
.item {
  border-radius: 8px;
  padding: 16px;
  max-width: 392px;

  background: #f6f6fe;
  margin-bottom: 24px;
}

.item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.title-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.title-list-item {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
}

/* Task-2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  max-width: 1128px;
}

img {
  object-fit: cover;
}

/* Task-3 */
#name-input {
  color: #2e2f42;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;
  outline: none;
  transition: border-color 250ms ease-in-out;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Task-4 */
.login-form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.form-label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
}

.form-input {
  background-color: transparent;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  min-height: 40px;
  padding: 8px 16px;
  transition: border-color 250ms ease-in-out;
  width: 100%;
  margin-bottom: 16px;
}

.login-btn {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms ease-in-out;
}

/* Task-5 */
.widget {
  width: 345px;
  height: 280px;
  background-color: #fff;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.widget-text {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms ease-in-out;
}
